.Solicitud{
    h2{
        color: white;
    }
}

.Ayudita{
    margin-top: 20px;
    margin-left: 100px;
    display: inline;
    color: aliceblue;
    
    h3{
        display: flex;
    align-items: center;
    padding: 30px;
    font-size: 30px;
    background-color: rgb(41, 6, 6);
    }
    
}