.Nosotros-sitio{
    
    text-align: center;
    color: antiquewhite;
    .Titulo{
        font-size: 50px;
        background-color: rgb(71, 12, 10);
    }

    div{

        margin: 100px;
        .Mapa{
            font-size: 60px;
            
        }
    div{
         .Quien{
            font-size: 50px;
            padding: 100px;

        }

    }
       
        .Objetivos{
        font-size: 50px;
        padding: 30px;
        margin-top: 100px;
        }
    }
}


@media (min-width: 701px){
    
    
}



   