

//Reset

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(../img/galaxia.jpeg) no-repeat center center;
    background-size: cover;
}

main{
    background: url(../../img/fondo-de-galaxia.jpg) no-repeat center center;
    background-size: cover;
}
